<h3>
    Web Task Application 
</h3>
    <hr>
<h5>
    Contributors
</h5> 
    <p> joseamsilva100@gmail.com </p>
    <p> aiurcu5@gmail.com </p>   
    <p> hfontes54@gmail.com </p>

    <hr>
        <div> <a href="/tasks" class="link-primary">See Tasks</a> </div>
        <div> <a href="/" class="link-primary">Logout</a> </div>
    <hr>